body {
    height: 100%;
    overflow: hidden;
}

.column {
    width: 100%;
    height: 100%;
}

.top {
    width: 100%;
    height: calc(50% - 34px);
    background-color: #989898;
}

.slider {
    width: 100%;
    height: 34px;
    text-align: center;
    background-color: #000;
}

.slider label {
    padding-right:7px;
    padding-top: 8px;
    color:aliceblue;
}

.slider input {
    padding: 0px;
}

.bot {
    width: 100%;
    height: 50%;
    overflow-y: scroll;
}

iframe {
    display:block;
    height: 1px;
    width:100%;
    min-height: 100%;
}
.sf-menu {
    padding-top: 5px;
    height: 20px;
}
.sf-menu li {
    background: silver;
    height: 25px;
}

.sf-menu li:hover,
.sf-menu li.sfHover {
	background: DarkGrey;
}

.sf-menu a {
	color: #000;
    padding: .2em .4em;
}
.sf-menu li {
	background: Silver;
}
.sf-menu ul li {
	background: Silver;
}
.sf-menu ul ul li {
	background: Silver;
}

.modal td, th {
    padding: 5px;
}

.modal a.close-modal {
    top: 0px;
    right: 0px;
}

.modal {
    max-height: 80%;
    overflow-y: auto;
    position: relative;
}

.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.upload-btn-wrapper input[type=file] {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.sk-spinner-pulse {
    position: fixed;
    display: inline-block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 200px;
    height: 200px;
    margin: auto;
    z-index: 20;
}
